<br><br>

    <div class="container">
        <h4>Purchase Order Profile</h4>
      <p>Purchase order history: List of client purchase, purchase date, total items and total cost:</p><br>

    <table class="table bg-transparent">
        <thead style="font-size: 12px">
            <tr>
                <th>ID</th>
                <th>Carrier Name</th>
                <th>Address</th>
                <th>Bus Number</th> 
                <th>Log Number</th>
                <th>Truck Number</th>
                <th>Time</th>
                <th>Date</th>
                <th>Active Status?</th>
            </tr>
        </thead>
        <tbody style="font-size: 12px">
            <tr>
                <th>1001</th>
                <td>Middle of the Map Trucking Co.</td>
                <td>Omaha, NE</td>
                <td>AA-122</td>
                <td>
                    <a routerLink="/product-order">AA127-128-129-1</a>
                </td>
                <td>MMT-143</td>
                <td>22:43:20</td>
                <td>02/12/2022</td>
                <td>true</td>
            </tr>
            <tr>
                <th>1020</th>
                <td>Middle of the Map Trucking Co.</td>
                <td>Omaha, NE</td>
                <td>AA-122</td>
                <td>
                    <a routerLink="/product-order">LO127-000-000-3</a>
                </td>
                <td>MMT-1200</td>
                <td>19:23:10</td>
                <td>02/10/2022</td>
                <td>true</td>
            </tr>
            <tr>
                <th>1023</th>
                <td>Middle of the Map Trucking Co.</td>
                <td>Omaha, NE</td>
                <td>AA-122</td>
                <td>
                    <a routerLink="/product-order">BA689-892-000-6</a>
                </td>
                <td>MMT-1100</td>
                <td>15:03:10</td>
                <td>02/08/2022</td>
                <td>true</td>
            </tr>
            
            <!--<tr *ngFor="let customer of customers | filter:filter | paginate: { itemsPerPage: 3, currentPage: p }; let i = index">
                <td><a [routerLink]="['/customers', customer.id]">{{customer.fullName}}</a></td>
                <td>{{customer.address1}}</td>
                <td>{{customer.address2}}</td>
                <td>{{customer.customer.id}}</td>
                <td>{{customer.city}}</td>
                <td>{{customer.state}}</td>
                <td>{{customer.zip}}</td>
                <td>{{customer.getsDiscount ? 'Yes':'No'}}</td>
            </tr>-->
        </tbody>
    </table>
    <!--<small><pagination-controls (pageChange)="p = $event"></pagination-controls></small>-->

</div>