
<br><br>
<div class="container">
    <h4>{{title}}</h4>
        <!--<caption>Product: &nbsp;&nbsp;{{product.name}}</caption>-->
    <br>
    
    <div class="row">
        
        <div class="col-sm-12">
            <form class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <input #ordersFilter type="text" class="form-control" style="width:200px; height:30px; font-size: 12px" placeholder="Search by Product Name" >&nbsp;
                    </div> 
                    <!--<div class="input-group">
                        <input #ordersFilter type="text" class="form-control" style="width:200px; height:30px; font-size: 12px" placeholder="Search Customer Name" (keyup)="filterOrders(ordersFilter.value)">&nbsp;
                    </div>--> 
                </div>
                <button type="button" (click)="goToCreateOrder()" class="btn btn-primary btn-sm">Create your Order</button>
            </form>
        </div>
    </div>

    <br><br>

    <div class="card">
      <p>hello world</p>
    </div>






    
      <div class="row">
        <div class="col-sm-3">
            <div class="card" style="width:400px">
                <img class="card-img-top" src="../../assets/popcorn/ButerFingerPopCorn3.jpg" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">ButterFinger PopCorn Balls</h4>
                  <p class="card-text">
                    <input type="checkbox">&nbsp;&nbsp;Small balls $6.00 
                    <input type="checkbox">&nbsp;&nbsp;2x $11.50
                  </p>
                  <p class="card-text">
                    <input type="checkbox">&nbsp;&nbsp;Small balls $6.00 
                    <input type="checkbox">&nbsp;&nbsp;2x $11.50
                  </p>
                  <p class="card-text">
                    <input type="checkbox">&nbsp;&nbsp;Small balls $6.00 
                    <input type="checkbox">&nbsp;&nbsp;2x $11.50
                  </p>
                  <p class="card-text">
                    <input type="checkbox">&nbsp;&nbsp;Small balls $6.00 
                    <input type="checkbox">&nbsp;&nbsp;2x $11.50
                  </p>
                  <p class="card-text">
                    <input type="checkbox">&nbsp;&nbsp;Small balls $6.00 
                    <input type="checkbox">&nbsp;&nbsp;2x $11.50
                  </p>
                  <a href="/product-order" class="btn btn-primary" style="margin-top:20px; margin-left: 70px; box-shadow: 0px 8px 16px 0px rgba(14, 13, 13, 0.342)">Add to Cart</a>
                
                
                
                
                
                </div>
              </div>
        
        </div>
        <div class="col-sm-3">
            <div class="card" style="width:400px">
                <img class="card-img-top" src="../../assets/popcorn/snickersPCornBalls.jpg" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">Snickers PopCorn Balls</h4>
                  <p class="card-text">
                    <input type="checkbox">&nbsp;&nbsp;Small balls $6.00 
                    <input type="checkbox">&nbsp;&nbsp;2x $11.50
                  </p>
                  <p class="card-text">
                    <input type="checkbox">&nbsp;&nbsp;Small balls $6.00 
                    <input type="checkbox">&nbsp;&nbsp;2x $11.50
                  </p>
                  <p class="card-text">
                    <input type="checkbox">&nbsp;&nbsp;Small balls $6.00 
                    <input type="checkbox">&nbsp;&nbsp;2x $11.50
                  </p>
                  <p class="card-text">
                    <input type="checkbox">&nbsp;&nbsp;Small balls $6.00 
                    <input type="checkbox">&nbsp;&nbsp;2x $11.50
                  </p>
                  <p class="card-text">
                    <input type="checkbox">&nbsp;&nbsp;Small balls $6.00 
                    <input type="checkbox">&nbsp;&nbsp;2x $11.50
                  </p>
                  <a href="#" class="btn btn-primary" style="margin-top:20px; margin-left: 70px; box-shadow: 0px 8px 16px 0px rgba(14, 13, 13, 0.342)">Add to Cart</a>
                </div>
              </div>
        </div>
        <div class="col-sm-3 mt-3">
            <div class="card" style="width:400px">
                <img class="card-img-top" src="../../assets/popcorn/manyGummiePCBalls.jpg" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">Gummie Bear PopCorn Balls</h4>
                  <p class="card-text">
                    <input type="checkbox">&nbsp;&nbsp;Small balls $6.00 
                    <input type="checkbox">&nbsp;&nbsp;2x $11.50
                  </p>
                  <p class="card-text">
                    <input type="checkbox">&nbsp;&nbsp;Small balls $6.00 
                    <input type="checkbox">&nbsp;&nbsp;2x $11.50
                  </p>
                  <p class="card-text">
                    <input type="checkbox">&nbsp;&nbsp;Small balls $6.00 
                    <input type="checkbox">&nbsp;&nbsp;2x $11.50
                  </p>
                  <p class="card-text">
                    <input type="checkbox">&nbsp;&nbsp;Small balls $6.00 
                    <input type="checkbox">&nbsp;&nbsp;2x $11.50
                  </p>
                  <p class="card-text">
                    <input type="checkbox">&nbsp;&nbsp;Small balls $6.00 
                    <input type="checkbox">&nbsp;&nbsp;2x $11.50
                  </p>
                  <a href="#" class="btn btn-primary" style="margin-top:27px; margin-left: 70px; box-shadow: 0px 8px 16px 0px rgba(14, 13, 13, 0.342)">Add to Cart</a>
                </div>
              </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="width:400px">
                <img class="card-img-top" src="../../assets/popcorn/mmPopCornBalls.jpg" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">M & M PopCorn Balls</h4>
                  <p class="card-text">
                    <input type="checkbox">&nbsp;&nbsp;Small balls $6.00 
                    <input type="checkbox">&nbsp;&nbsp;2x $11.50
                  </p>
                  <p class="card-text">
                    <input type="checkbox">&nbsp;&nbsp;Small balls $6.00 
                    <input type="checkbox">&nbsp;&nbsp;2x $11.50
                  </p>
                  <p class="card-text">
                    <input type="checkbox">&nbsp;&nbsp;Small balls $6.00 
                    <input type="checkbox">&nbsp;&nbsp;2x $11.50
                  </p>
                  <p class="card-text">
                    <input type="checkbox">&nbsp;&nbsp;Small balls $6.00 
                    <input type="checkbox">&nbsp;&nbsp;2x $11.50
                  </p>
                  <p class="card-text">
                    <input type="checkbox">&nbsp;&nbsp;Small balls $6.00 
                    <input type="checkbox">&nbsp;&nbsp;2x $11.50
                  </p>
                  <a href="#" class="btn btn-primary" style="margin-top:27px; margin-left: 70px; box-shadow: 0px 8px 16px 0px rgba(14, 13, 13, 0.342)">Add to Cart</a>
                </div>
              </div>
        </div>
      </div>
    
</div>
