<br>
<div class="container"><hr>
  <h3><i>Traxx-Stat Delivery System (TSDS)</i></h3>
  <label>Complete truck carrier freight real-time load/delivery monitoring portal </label>
  <p>
    Please <a routerLink="/login">sign in</a> or
    <a routerLink="/register">register</a>
  </p>
  <!--<button type="button" class="btn btn-primary" style="box-shadow: 0px 8px 16px 0px rgba(14, 13, 13, 0.342)">
    <a routerLink="/products" style="color:aliceblue">All Parts</a>



  </button>-->
</div>


  <div class="container text-center"><h3><a routerLink="/login"><i>TSDS</i>&nbsp;</a>Portal</h3>
      Configure routine routes and scheduled pickups... indicate where and when carrier freight deliveries will arrive during certain periods...
      <br> 
      Manage a full suite of tools for organizing drivers, dispatchers and managers in real time on demand.
  </div><br>
  
  
  <div class="container"><hr>
    <div class="col-sm-3">
      <div class="card bg-transparent">
        <div class="card-body">
          <h5 class="card-title"><strong>User Manager</strong></h5>
          <p class="card-text">Real time Management tools for organizing drivers, loads and carriers...</p><br><br>
          <a href="/profile" class="btn btn-primary" style="box-shadow: 0px 8px 16px 0px rgba(14, 13, 13, 0.342)">Read more...</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card bg-transparent">
        <div class="card-body">
          <h5 class="card-title"><strong>Customer Manager</strong></h5>
          <p class="card-text">Store your customer's contracted rates, preferences, and history with your company.</p><br>
          <a href="/customer" class="btn btn-primary" style="box-shadow: 0px 8px 16px 0px rgba(14, 13, 13, 0.342)">Read more...</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card bg-transparent">
        <div class="card-body">
          <h5 class="card-title"><strong>Carrier Manager</strong></h5>
          <p class="card-text">This delivery software tracks your vehicles and their required maintenance.</p><br><br>
          <a href="/vehicle" class="btn btn-primary" style="box-shadow: 0px 8px 16px 0px rgba(14, 13, 13, 0.342)">Read more...</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card bg-transparent">
        <div class="card-body">
          <h5 class="card-title"><strong>Destination Manager</strong></h5>
          <p class="card-text">Organize all addresses that your company has either picked up from or delivered to.</p><br>
          <a href="/location" class="btn btn-primary" style="box-shadow: 0px 8px 16px 0px rgba(14, 13, 13, 0.342)">Read more...</a>
        </div>
      </div>
      
    </div>
    <p><br>
