<br><br>

<div class="container">
  <div class="row">
    <div class="col-sm-7">
      <h1>haggerWear Services, LLC</h1>
  <img src="../../assets/poppingcorn20224.png" alt="Logo" style="width:400px"><br>
  <span style="margin-left:100px"><em style="font-size: 20px;">"<b>pop that 'ish'</b> "</em>&nbsp;<small>&reg;</small></span>
  <br><br> 

  
  
    <button type="button" class="btn btn-primary" style="margin:5px; box-shadow: 0px 8px 16px 0px rgba(14, 13, 13, 0.342)">
      <a routerLink="/products" style="color:aliceblue">Orders List</a>
    </button>
  

  <a routerLink="/products">
    <button type="button" class="btn btn-primary btn-lg" style="margin-left:30px; box-shadow: 0px 8px 16px 0px rgba(14, 13, 13, 0.342)">
      <labeL><em>" Let's Shop some PopCorn! "</em></labeL> 
    </button>
  </a> 

    
    </div>
    <div class="col-sm-4">
      <div class="mt-4 p-5 bg-primary text-white rounded">
        <a routerLink="/products">
          <img src="../../assets/PopCorn.MOV" style="width: 500px; height:500px">
        </a>
        
      </div>
    </div>
    
  </div>
  <div class="container">
    <p style="font-size: 10px">
      How haggerWear Works:<br>
      This APOS-THUNDERSTRUCK API is available for public sales and shop-management systems. 
      
      <!--(and automotive-app developers)-- to integrate. Users without a shop-management system can still access all the benefits of APOS online at www.apos.com;
    
      Create a free APOS account for your shop <a routerLink="/register">here</a> if it doesn’t already have one.
      If you already have a APOS account sign in to access APOS portal<a href="/login"> here</a>. If you need additional instruction on how to retrieve your API Key, click <a href="/">here</a>.
      Enter your APOS username, along with your access code, into your shop-management system in your system settings (See your system provider for specific instructions on where to enter this information.). The list of currently supported systems is available here, and it continues to grow.
      Once the APOS username and access code has been entered into your shop-management system, it will have integrated directly into your partner system.
      When building a repair order within your management system, and you choose to add parts, APOS opens and immediately displays the parts you need to complete the work order, along with available inventory from your preferred local vendors. Once you select the parts, they will automatically import back into your repair order.
      <br><br>
      APOS’s API offers:<br>
      Search, keyword, part number or aircraft model. Easy browsing of local parts vendors in a single search,
      Geo-locating of hard-to-find parts, Order confirmation, tracking and shipment notifications with
      High-res images and videos to include Mobile-friendly user experience.
    </p>
  </div>
</div>













  <!--<h3>APOS ThunderStruk</h3>--
  <h3><i>haggWear Services, llc</i></h3>
  <label>"pop that 'ISH' "</label>-->
  <!--<p>
    Please <a routerLink="/login">sign in</a> or
    <a routerLink="/register">register</a>
  </p>
  <!--<button type="button" class="btn btn-primary" style="box-shadow: 0px 8px 16px 0px rgba(14, 13, 13, 0.342)">
    <a routerLink="/products" style="color:aliceblue">All Parts</a>



  </button>--
</div>
<br><br>
<div class="container">
  <p style="font-size: 10px">
    How APOS Works:<br>
    The APOS API is available for shop-management systems <!--(and automotive-app developers)-- to integrate. Users without a shop-management system can still access all the benefits of APOS online at www.apos.com;
  
    Create a free APOS account for your shop <a routerLink="/register">here</a> if it doesn’t already have one.
    If you already have a APOS account sign in to access APOS portal<a href="/login"> here</a>. If you need additional instruction on how to retrieve your API Key, click <a href="/">here</a>.
    Enter your APOS username, along with your access code, into your shop-management system in your system settings (See your system provider for specific instructions on where to enter this information.). The list of currently supported systems is available here, and it continues to grow.
    Once the APOS username and access code has been entered into your shop-management system, it will have integrated directly into your partner system.
    When building a repair order within your management system, and you choose to add parts, APOS opens and immediately displays the parts you need to complete the work order, along with available inventory from your preferred local vendors. Once you select the parts, they will automatically import back into your repair order.
    <br><br>
    APOS’s API offers:<br>
    Search, keyword, part number or aircraft model. Easy browsing of local parts vendors in a single search,
    Geo-locating of hard-to-find parts, Order confirmation, tracking and shipment notifications with
    High-res images and videos to include Mobile-friendly user experience.
  </p>
</div>-->
