<br>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3 class="form-signin-heading">User Profile</h3>
      <div class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-3 control-label">Username:</label>
          <p class="form-control-static">&nbsp;&nbsp;&nbsp;&nbsp;{{ details?.name }}<br>
          <label class="col-sm-3 control-label">Email:</label> 
          <p>&nbsp;&nbsp;&nbsp;{{ details?.email }}</p>
         </div>
      </div>
    </div>
  </div>
  <div class="container">
    <h4>Carrier Freight Delivery</h4>
    <p>Truck freight manifest: freight load, date, delivery, destination... </p><br>
    <form class="form-inline">
      <div class="form-group">
        <!--<div class="input-group">
          <input class="form-control" type="text" style="box-shadow: 0px 8px 16px 0px rgba(14, 13, 13, 0.342); font-size: 14px" placeholder="Search Here" [(ngModel)]="filter">
        </div>-->
      </div>
      &nbsp;<button type="button" class="btn btn-primary btn-md" style="box-shadow: 0px 8px 16px 0px rgba(14, 13, 13, 0.342); font-size: 14px">
        <a routerLink="/order-history" style="color:white">Freight Carrier</a>
      </button>
      &nbsp;<button type="button" (click)="goToCreateOrder()" class="btn btn-primary btn-md" style="box-shadow: 0px 8px 16px 0px rgba(14, 13, 13, 0.342); font-size: 14px">
        <a routerLink="/create-order" style="color:white">Create New Order</a></button>
        <!--<a routerLink="/create-order" style="color:white">Create Order</a></button>-->
    </form>









<!--<div class="form-horizontal">
        
          <label class="col-sm-3 control-label">Email</label>
          <p class="form-control-static">{{ details?.email }}</p>
        
      </div>-->

<!--<div class="form-group">
          <label class="col-sm-2 control-label">Email</label>
          <p class="form-control-static">{{ details?.email }}</p>
        </div>-->
