<br><br>
<div class="container">
    <h3> Multi-Rainbow PopCorn Balls</h3>
        <!--<caption>Product: &nbsp;&nbsp;{{product.name}}</caption>-->
    <br>
    <div class="row">
        <div class="col-sm-8">
          <table class="table table-bordered table-sm table-hover">
          <thead class="thead-primary">
            <tr>
              <th style="font-size: 12px" scope="col">Product ID:</th>
              <th style="font-size: 12px" scope="col">Description:</th>
              <th style="font-size: 12px" scope="col">Count:</th>
              <th style="font-size: 12px" scope="col">Item Price:</th>
            </tr>
          </thead>
            <tbody>
                <tr>
                    <td>
                        MR-PK6
                    </td>
                    <td>
                        Multi-Rainbow PopCorn 6-pack
                    </td>
                    <td>
                        6 
                    </td>
                    <td>
                        $36.99
                    </td>
                </tr>
            </tbody>
            </table>
            <div class="row">
                <div class="form-group" style="margin-left: 15px;">
                  <strong style="font-size: 12px;" for="password">Terms and conditions:</strong>
                  <div style="width:360px;height:80px;overflow:scroll;padding-left:20px;background-color:rgb(238, 236, 217);color:#714D03;border:4px double #DEBB07;font-size: 10px">
                      <p>
                        <u><b>Refunds:</b></u><br>
                          No refunds or exchanges within three (3) days.
                        <br>
                        <u><b>Fees:</b></u><br>
                         Orders under $20.00 will require a minimum delivery fee of $5.00.
                        <br>
                        <u><b>Orders:</b></u><br>
                         Orders over $20.00 may require 48 hour or moree advance notice.
                         Popcorn Ball orders of 50 or more will require a deposit.
                      </p>
                  </div><br>
                </div>
            </div>

            <!--<label class="form-check-label" style="margin-top: 20px;">
                <span style="margin-left:40px; color:red"><input type="checkbox" class="form-check-input" value="1">&nbsp;<small>Accept</small></span><br>    
            </label>
            <span style="margin-left: 20px">
                <button (click)="onPrintInvoice()" type="button" class="btn btn-success" style="box-shadow: 0px 8px 16px 0px rgba(14, 13, 13, 0.342); color:mintcream; font-size: 16px"><small>Print Invoice</small></button>
            </span><br>-->


            <input type="checkbox" [(ngModel)]="agree">&nbsp;I agree to Terms and Conditions
            <div>
                <input type="checkbox" [(ngModel)]="scoc" name="sib" value="male">&nbsp;Enable (SCOC) Shopping Cart Order Confirmation<br/>
                <!--<input type="radio" [(ngModel)]="gender" name="gender" value="female">Female-->
            </div><br>
            <a href="../../assets/sils-cross-ref/receipt.jpg">
                <input class="btn btn-primary" style="box-shadow: 0px 8px 16px 0px rgba(14, 13, 13, 0.342); color:mintcream; font-size: 16px" type="button" [disabled]="!scoc || !agree" text="go" value="Shopping Cart" (click)="btnClick()">
            </a><br><br>
            <!--<a href="../../assets/sils-cross-ref/B012016-1.pdf">
                <input class="btn btn-primary" style="box-shadow: 0px 8px 16px 0px rgba(14, 13, 13, 0.342); color:mintcream; font-size: 16px" type="button" [disabled]="!agree" text="go" value="Service Information Bulletin" (click)="btnClick()">
            </a>-->
        </div>  
        <div class="col-sm-4">
            <img src="../../assets/PopCornShantee.png" alt="Logo" style="margin-left:100px; width:200px"><br><br>
        </div>
        <span style="margin-left:116px">
            <label class="text-center">Multi-Rainbow PopCorn Balls</label>
        </span>
    </div>
</div>

